@import "@radix-ui/themes/styles.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--slate1);
  color: var(--slate12);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 2rem;
}

.section {
  height: 100vh;
  width: 100vw;
}

.recent {
  height: fit-content;
  width: 80vw;
  background: rgb(248, 180, 180);
}

